.CardItem {
  box-sizing: border-box;
  margin: 10px 15px 10px 0;
  display: block;
  padding: 20px 10px;
  border-radius: 5px;
  transition: border, box-shadow .3s;
  border: 1px solid #ccc;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  width: 280px;
  background-color: white;
  position: relative;

}

.CardItem:hover {
  border: 1px solid #aaa;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
}

.cardImg {
  max-width: 260px;
  height: 260px;
}

.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTimesButton {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;

  &:hover {
    color: #9a9ba4;
  }
}

