.Modal {
  z-index: 100;
  background-color: lightgrey;
  width: 517px;
  color: black;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);


  &__title {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;

    h2 {
      width: 500px;
      text-align: center;
    }

    i {
      align-self: baseline;
    }

  }

  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px 5px;

    p {
      padding: 0 20px;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
    }

  }

}