.Header {
  background: gainsboro;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  nav ul {
    margin: 0;
    list-style: none;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin-right: 30px;
      text-align: center;
      padding: 10px 0;

      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        color: #5b6178;

        &.active,&:hover {
          color: #222f91;;
        }
      }
    }


  }

}